.PublicTransport {
  min-height: 216px;
  background-color: #e1c8c8;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 5px 5px 15px -5px #3a3939;
  color: #9C4F77 ;
}

.PublicTransport .container{
  display: flex;
  justify-content: space-between;
}

.ind-container{
  box-shadow: 5px 5px 15px -5px #474646;
  border: 1px solid #9C4F77;
  margin: 5px;
  border-radius: 7px;
  padding: 5px;
}

@media only screen and (max-width: 855px) {
  .container {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.3rem;
  }
}

